pandas==2.2.3
selenium==4.27.1
openpyxl==3.1.5
webdriver-manager==4.0.2
requests
urllib3
pytesseract
chardet
pdf2image
argparse
pip
setuptools
wheel
spacy
ollama
python-dotenv
azure-identity
msgraph-sdk
azure-storage-queue